* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(224, 224, 224);
}

header {
  display: flex;
  justify-content: space-around;
  font-family: "Madimi One", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin-top: 20px;
  align-items: center;
}

.item {
  list-style: none;
  display: contents;
  font-size: 18px;
}

.item li a {
  padding-left: 20px;
  text-decoration: none;
  color: black;
}

.logo img {
  max-width: 110px;
}

.pesquisa img {
  height: 30px;
  width: 20px;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.pesquisa {
  position: absolute;
  right: 40%;
  background: rgb(235, 235, 235);
  height: 40px;
  border-radius: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pesquisa-txt {
  border: none;
  background: none;
  outline: none;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 16px;
  line-height: 40px;
  width: 0;
  transition: 0.5s;
}

.btn-pesquisa {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
}

.pesquisa:hover > .pesquisa-txt {
  width: 240px;
}

.a inicio {
  list-style-image: url(house.svg);
}
